.nav{
  
  padding: 16px 0;
  height: 55px;
  background-color: #F55A5A;
  margin-bottom: 27px;
  width: inherit;
}
.home-link{
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  text-decoration: none;
  max-width: 200px;
  
}
.nav-text{
  color: white;
  font-weight: 500;
  font-size: 14.46px;
  text-decoration: none;
}
